<app-header>
    <span title>Employees</span>
    <span description>List of your Employees</span>
</app-header>
<div class="container">
    <table class="table table-dark">
        <thead>
            <tr>
                <th>ID</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Date of birth</th>
                <th>Position</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees">
                <td>{{ employee.id }}</td>
                <td>{{ employee.firstName }}</td>
                <td>{{ employee.lastName }}</td>
                <td>{{ employee.dateOfBirth | date: 'dd/MM/yyyy' }}</td>
                <td appManager="yellow">{{ employee.position | positionUppercased}}</td>
                <td [ngClass]="{'high-salary': employee.salary > 3500}">{{ employee.salary | currency: 'PLN' }}</td> 
            </tr>
        </tbody>
    </table>
</div>